.App {
  padding: 15px 50px;
  font-weight: 300;
}

.App > h1 {
  font-weight: 300;
}

.App > button {
  background-color: #333;
  color: #FFF;
  border: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 15px;
}

.App > button:disabled {
  opacity: 0.5;
}